@reference "tailwindcss";
@reference "./theme.css";

.container {
  @apply flex flex-col gap-3;
}

.logo {
  @apply absolute left-8 tablet:left-16 laptop:relative laptop:left-0;
  @apply top-8 tablet:top-10 laptop:top-0;
}

.header {
  @apply uppercase font-bold text-4xl text-center laptop:text-start;
}

.subheader {
  @apply text-accent-primary text-center laptop:text-start;
}

.button {
  @apply bg-primary text-foreground-secondary rounded-lg uppercase font-bold cursor-pointer;
  @apply px-8 py-4 w-fit mx-auto laptop:mx-0;
  @apply hover:-translate-y-1 hover:bg-secondary;
  transition-property: translate, background-color;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}
