@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background-primary: var(--bg-primary);
  --color-background-secondary: var(--bg-secondary);
  --color-foreground-primary: var(--fg-primary);
  --color-foreground-secondary: var(--fg-secondary);
  --color-accent-primary: var(--ac-primary);
  --color-accent-secondary: var(--ac-secondary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-titan-one: var(--font-titan-one);

  --breakpoint-tablet: 640px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
}
